.header-section{
    background:url(https://scontent.ftru3-1.fna.fbcdn.net/v/t39.30808-6/299943517_391932366422790_1420229307996171299_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=e3f864&_nc_eui2=AeFQHCi5S6N-4qMaAWytW5NzZa2kwSOUDrllraTBI5QOuTc3n7btyQRXJ-cduURcrfFMRqHeB8r8ZauUVxwcopBY&_nc_ohc=g-k2Ex1HysgAX8UtpX1&_nc_ht=scontent.ftru3-1.fna&oh=00_AfCai06BlYXhuQE4mk3zquLeP6wqWiZIsnuHsptHA-GGbg&oe=63672C3C);    
    background-position: right;
    background-size: cover;
    background-attachment: fixed;
}

.border-title{
    background-color: #003780;
    width: 40px;
    height: 2px;
    position: relative;
}
.border-span{
  position: absolute;
  top: -1px;
  left: 5px;
  width: 15px;
  height: 5px;
  background-color: #003780;
  border-radius: 5px;
}

/* NAVEGADOR */
.navegador h5{
  font-size:15px;
  
}
.navegador{
  padding-bottom: 0.25rem;
  
}

.navegador .col-lg-2,.navegador .col-sm-6{
  padding-inline: 1px!important;

}

.nav-item {
    background: #003780;
    transition: .5s;
    
}
.text-center {
    text-align: center !important;
}
.navegador .py-3 {
    padding-block: 1.3rem !important;
}

.nav-item {
    transition: .5s;
}

.nav-item:hover {
    background: #DCA609;
}
/*  */



.docentes-title{
  left:25%;
  width: 70px;
  -webkit-animation: docentes-title-run 1s linear;
  animation: docentes-title-run 1s linear;
}


@-webkit-keyframes docentes-title-run {
  0% {width: 10px; } 50% { width : 40px; } 100% { width: 70px; }
}


@media (min-width: 576px)
.col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
}
/* BREADCRUMBS */
a{
  text-decoration: none!important;
  color: black;
}

.breadcrumb-right-arrow .breadcrumb-item+.breadcrumb-item::before {
  content: "›";
vertical-align:center;
font-size:20px;
line-height:20px;
color:black!important;
font-weight: bold;

}
.breadcrumb-right-arrow{
  background-color:white;
  border-bottom: 1px solid #C9D1D3;
  font-size:14px;
  border-radius: 0;
}





.g-5, .gy-5 {
    --bs-gutter-y: 3rem;
}
.g-5, .gx-5 {
    --bs-gutter-x: 3rem;
}
.g-4, .gy-4 {
  --bs-gutter-y: 1.5rem!important;
}
.g-4, .gx-4 {
  --bs-gutter-x: 1.5rem!important;
}


.box {
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 2px 2px #1F1F1F;
    text-align:center;
    height:93px;
    margin-top:15px;
    border-color:#fff;
    border-style: solid;
    border-width: 1px;
}
.box p{
  font-size:15px;
  color:white;
}
.container-contador{
    background-position: center;
    background-size: cover;
    background-image:linear-gradient(#BEA44A,rgba(0,0,0,0.8)),url(https://facing.unitru.edu.pe/images/Noticias/Inauguraci%C3%B3n%20de%20pabellones%202022/5.jpg);
    background-attachment: fixed;
}

/* MATRICULADOS Y EGRESADOS */
.matriculados .about-img::before {
    position: absolute;
    content: "";
    top: 0;
    left: -89%;
    width: 100%;
    height: 100%;
    background: #fff;
    transform: skew(20deg);
    z-index: 1;
}
.counter{
    color:white;
}
h5{
    color:white;
}

hr.short {
    width: 4.20873rem;
}

hr:not([size]) {
    height: 3px;
}
hr {
    background-color: #FFF;
    border-radius: 0.094rem;
   margin-top:0;
   margin-bottom:6px;
}

/* INFRAESTRUCTURA */
.swiper {
  width: 100%;
  height: 300px;
}

.swiper-slide {

  font-size: 18px;
  overflow: hidden;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.infraestructura .swiper-slide p{
  color:#333;
  font-size: 14px;
  margin-inline:10px;
}
.swiper-slide .col-12{
  
}
.swiper-button-next,.swiper-button-prev{
  height: 36px!important;
  width: 36px!important;
  top: 70%!important;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: transparent;
  border-radius: 5px;
  font-size: 12px;

  background: #003780;
  color: #fff !important;
  font-size: 12px;
  position: absolute;
  z-index: 1;
}
.swiper-button-next{
  left: 390px!important;
}
.swiper-button-prev{
  left: 350px!important;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-family: swiper-icons;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
  text-align: center;
  font-size: 12px!important;
  font-weight:bold;
}

.swiper-button-next:hover,.swiper-button-prev:hover {
  color: #fff !important;
  background: #DCA609;
}
.info{
  width: 100%;
  background:#EBF0F8;
  padding-inline:20px;
  padding-block:10px;
}
.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: #003780!important;
}
/* TESIS */
.tesis2 .wrapper-border {
  background-color: #0049AD;
}

.tesis2 .about-img img {
  width: 100%;
  height:100%;
  border-radius: 0;
  object-fit: cover;
}



.tesis2 .swiper-slide {
        text-align: center;
        background: rgba(27,24,17,0.5);
       
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }
      .tesis .button-next, .button-prev{
        height: 36px!important;
  width: 36px!important;
  left:00%;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 5px;
  font-size: 15px;
  line-height: 36px;
  background: #1B1811;
  color: #FFF !important;
  position: absolute;
  z-index: 3;
      }
      .button-next i,
.button-prev i {
margin-left:13px;;
}
      .tesis .button-next{
        top: 30%;
        
      }
      .tesis .button-prev{
        bottom: 30%;
      }
      .swiperTesis{
        height: 250px!important;
      }
      .button-next:hover,.button-prev:hover {
        color: #fff !important;
        background: #DCA609;
      }
.bottom{
  position:absolute;
  height:180px;
  width:100%;
  background: linear-gradient(to top, rgba(243, 245, 250, 1) 40%, rgba(243, 245, 250, 0));
  bottom:0;
  z-index: 2;
}
.top{
  position:absolute;
  height:150px;
  width:100%;
  background: linear-gradient(to bottom, rgba(243, 245, 250, 1) 40%, rgba(243, 245, 250, 0));
  top:0;
  z-index: 2;
}
.titulo{
  color:#F3F5FA!important;
  font-size:15px!important;
  margin-bottom:0!important;
}
.autores{
  color:#BCA44E!important;
  margin-top:0!important;

}
.tesis img{
  border-radius: 30px;
  width:100%;
  
}
.tesis p{
  font-size: 12px;
  margin:10px;
}



.visit-tailor-area .tailor-offers {
  width: 100%;
  height: 400px;
}
/* INFORMACION DE LA CARRERA */
.text-primary {
  color: #002F7B !important;
}
.laboral{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) / -2);
    margin-left: calc(var(--bs-gutter-x) / -2);
}
.bg-appointment {
  background: linear-gradient(rgba(0, 73, 173, .85), rgba(26, 58, 133, .85)), url(https://cdnupc-assets.s3.amazonaws.com/wp-content/uploads/2021/07/18153626/ingeniero-industrial-mitos-y-verdades-carrera-upc.jpg) center center no-repeat;
  background-size: cover;
}
.appointment-form {
  background: rgba(220, 166, 9, .8);
}
.campos .col-12{
  display: flex;
}
.campos p{
  margin-left: 6px;
}
/* ACREDITACION Y BECAS */
.acreditacion img{
height:40px;
}
.becas img{
  height:40px;

  }
  .becas{
    
  }

/* DOCENTES */

.docentes{
  display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.docentes .col-lg-3 .col-md-6{
  position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.docentes .team-item {
  position: relative;
  margin-bottom: 75px;
}
.docentes .team .team-img {
  position: relative;
}
.docentes .team-img img {
  width: 100%;
}
.docentes img {
    vertical-align: middle;
    border-style: none;
}

.docentes .team-text {
  position: absolute;
  width: calc(100% - 30px);
  height: 96px;
  bottom: -46px;
  left: 15px;
  padding: 25px 15px;
  text-align: center;
  background: rgba(255, 255, 255, .9);
  box-shadow: 0 0 30px rgb(0 0 0 / 10%);
  transition: .3s;
  overflow: hidden;
}

.docentes .team-item:hover .team-text {
  height: 160px;
}
.docentes p{
  font-size:15px;
  color:#0049AD;
  font-weight: lighter;
  height: 25px;
}
.docentes button{
  background:#DCA609;
  color:white;
  margin-top:30px;
  border-color:#DCA609;
  border-radius:5px;
  border: 0;
  padding:5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size:15px;
}

/* INVESTIGACION */
.investigacion{
  padding: 30px;margin-top:10px;background: #DBDBDB;
}
.accordions div{
  position: relative;

}
.accordion_container:not(:last-child) {
    margin-bottom: 14px;
}
.collapsed {
  background: #E7EBF5!important;
  color: #1A3A85!important;
}
.accordion{
  height: 50px;
    width: 100%;
    background: #BCA44E;
    padding-left: 24px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-weight: 600;

}
.accordion::after {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 12px;
    width: 23px;
    height: 23px;
    background: #1A3A85;
    content: '-';
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 600;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.collapsed::after {
    content: '+';

}
.accordion_panel {
border-radius:15px;
    
    overflow: hidden;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.accordions button{
  border:0!important;
}

/* EQUIPOS */

.equipos img{
  width:100px;
  height:100px;
  object-fit: cover;
  border-radius:50%;
  margin-inline:10px;
}
.service.left-icon .icon, .service.left-icon .text {
  display: table-cell;
  vertical-align: top;
}
.service.left-icon .icon i {
  font-size: 80px;
}
.text{
  padding-left:10px;
}
.service{
  margint-bottom:3px;
}
.service .icon{
  font-size: 50px;
  color: #DCA609;
  font-weight: 700;

}
.service h5{
  color:#333;
}